@import url(https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top{
  color:white;
  font-size: 50px;
  font-family: 'Pixelify Sans';
}

span{
  color: #61dafb;
}

.reset{
  background-color: #282c34;
  border-radius: 50%;
  border-color: #61dafb;
  border-width: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  width: 200px;
  height: 80px;
  cursor: pointer;
}

.textreset{
  font-family: 'Pixelify Sans';
  font-size: 20px;
  color: #61dafb;
}

/*
.e{
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #282c34;
  border: 4px solid #61dafb;
}
*/

.b{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.box{
  border: 4px solid#61dafb;
}

h3{
  font-family: 'Pixelify Sans';
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 40px;
}




.container{
  width: 300px;
  display: flex;
  margin: auto;
  text-align: center;
}
